<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>
<nav>
<span><a title="主页" href="/">博客主页</a></span>
<% if (user) { %>
<span><a title = "发表文章" href="/post">发表文章</a></span>
<span><a title="登出" href="/logout">登出操作</a></span>
<% } else { %>
<span><a title="登录" href="/login">用户登录</a></span>
<span><a title="注册" href="/reg">注册用户</a></span>
<% } %>
</nav>
<div>
<% if (user) { %> 
欢迎：<%= user.name %> 
<% } %>
</div>
 <div><%= success %></div>
 <div><%= error %></div>

<article>
<span> <a title = "上传" href="/upload">您可以上传您的文件</a></span>
